.header-container {
  height: 64px;           
  min-height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.header-container h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
