.home-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,

    #4a90e2 0%,
    #6b5fbf 50%,

    #8a2be2 100%
  );
}
