.keyboard-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #1f1f1f;
  padding: 24px 10px 20px; 
  z-index: 999;

  transform: translateY(100%);
  transition: transform 0.25s ease;
  pointer-events: none; 
  opacity: 0;
}

.keyboard-container.active {
  transform: translateY(0);
  pointer-events: auto; 
  opacity: 1;
}


.keyboard-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  gap: 8px;
}


.key {
  flex: 1;
  height: 55px;   
  border: none;
  border-radius: 10px;
  background: #2e2e2e;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
