@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.sidebar-container {
  position: relative;
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
  padding-right: 4px;
  transition: left 0.3s ease-in-out;
  z-index: 1000;

  background-color: #4a90e2;
}

.header-sidebar-container {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-sidebar-container h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

.sidebar-menu-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.sidebar-list-item {
  height: 10%;
  width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar-list-item:hover,
.sidebar-list-item.active {
  background-color: rgba(255, 255, 255, 0.3);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.location-name-temperature-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.location-name-container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.location-name-container p {
  font-size: 23px;
  margin-left: 7%;
}

.location-temperature-container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.location-temperature-container p {
  font-size: 28px;
  margin-right: 7%;
}

.location-weather-type-time-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-type-container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.weather-type-container p {
  margin-left: 7%;
}

.time-container p {
  margin-right: 7%;
}

.time-container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.location-name-container p,
.location-temperature-container p,
.weather-type-container p,
.time-container p {
  font-family: "Roboto", sans-serif;
  color: white;
}

.sidebar-menu-container::-webkit-scrollbar {
  width: 6px;
}

.sidebar-menu-container::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-menu-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.close-icon-container {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none !important;
}

.close-icon {
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
}
