@media (max-width: 900px) and (max-height: 1600px) {
  .weather-display-container {
    width: 100% !important;
  }
}
@media (max-width: 1366px) {
  .information-card-1-container {
    height: 55%;
  }

  .information-card-2-container {
    height: 45%;
  }

  .information-card-1 {
    height: 390px;
  }
}

@media (max-width: 1280px) {
  .information-card-1 {
    height: 370px !important;
  }

  .information-card-1-container {
    height: 58% !important;
  }

  .information-card-2-container {
    height: 42% !important;
  }
}

@media (max-width: 1200px) {
  .information-card-1-container {
    height: 58%;
  }

  .information-card-2-container {
    height: 42%;
  }

  .information-card-1 {
    height: 380px;
  }
}

@media (max-width: 1024px) {
  .information-card-1-container {
    height: 63%;
  }

  .information-card-2-container {
    height: 37%;
  }

  .information-card-1 {
    height: 340px !important;
  }

  .city-name-container h1 {
    font-size: 29px;
  }
}

@media (max-width: 900px) and (max-height: 1600px) {
  .information-card-1-container {
    height: 50% !important;
  }

  .information-card-2-container {
    height: 50% !important;
  }

  .information-card-1 {
    height: 500px !important;
    width: 470px !important;
    margin-left: 25%;
  }

  .information-card-2 {
    height: 210px !important;
    width: 470px !important;
    margin-bottom: 30%;
    margin-left: 25%;
  }

  .city-name-container h1,
  .city-temperature-container h1 {
    font-size: 35px;
  }

  .humudity-result p,
  .wind-result p,
  .uv-index-result p {
    font-size: 20px !important;
  }

  .humitidy-text p,
  .wind-text p,
  .uv-index-text p,
  .type-of-weather-container p {
    font-size: 19px !important;
  }
}

@media (max-width: 800px) and (max-height: 1400px) {
  .information-card-1 {
    height: 480px !important;
    width: 450px !important;
    margin-left: 28%;
  }

  .information-card-2 {
    height: 200px !important;
    width: 450px !important;
    margin-left: 28%;
  }
}

@media (max-width: 768px) and (max-height: 1280px) {
  .information-card-1 {
    height: 460px !important;
    width: 430px !important;
    margin-left: 27%;
  }

  .information-card-2 {
    height: 190px !important;
    width: 430px !important;
    margin-left: 27%;
  }
}

@media (max-width: 720px) and (max-height: 1080px) {
  .information-card-1 {
    height: 410px !important;
    width: 420px !important;
    margin-left: 28%;
  }

  .information-card-2 {
    height: 180px !important;
    width: 420px !important;
    margin-left: 28%;
  }
}

@media (max-width: 600px) and (max-height: 960px) {
  .information-card-1 {
    height: 360px !important;
    width: 350px !important;
    margin-left: 29%;
  }

  .information-card-2 {
    height: 160px !important;
    width: 350px !important;
    margin-left: 29%;
  }

  .information-card-1-container {
    height: 60% !important;
  }

  .information-card-2-container {
    height: 40% !important;
  }

  .humitidy-text p,
  .wind-text p,
  .uv-index-text p {
    font-size: 14px !important;
  }

  .humudity-result p,
  .wind-result p,
  .uv-index-result p {
    font-size: 15px !important;
  }
}

@media (max-width: 480px) and (max-height: 850px) {
  .information-card-1 {
    height: 340px !important;
    width: 330px !important;
    margin-left: 26%;
  }

  .information-card-2 {
    height: 160px !important;
    width: 330px !important;
    margin-left: 26%;
  }
}

@media (max-width: 414px) and (max-height: 750px) {
  .information-card-1 {
    height: 320px !important;
    width: 310px !important;
    margin-left: 26%;
  }

  .information-card-2 {
    height: 140px !important;
    width: 310px !important;
    margin-left: 26%;
    margin-top: 10%;
  }

  .type-of-weather-container p {
    font-size: 15px !important;
  }

  .city-name-container h1,
  .city-temperature-container h1 {
    font-size: 22px;
  }
}

@media (max-width: 375px) and (max-height: 640px) {
  .information-card-1 {
    height: 290px !important;
    width: 290px !important;
    margin-left: 25%;
    margin-top: 10%;
  }

  .information-card-2 {
    height: 140px !important;
    width: 290px !important;
    margin-left: 25%;
    margin-top: 15%;
  }
}

@media (max-width: 320px) and (max-height: 640px) {
  .information-card-1 {
    height: 280px !important;
    width: 290px !important;
    margin-left: 25%;
    margin-top: 10%;
  }

  .information-card-2 {
    height: 130px !important;
    width: 290px !important;
    margin-left: 25%;
    margin-top: 15%;
  }
}
