.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

/* Desktop */
@media (min-width: 769px) {
  .layout {
    grid-template-columns: 3fr 1.5fr;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
